<span class="Why_Six_Bags active">
  {% render 'que-icon' %}
  <span class="Why_Six_Bags_Popup">
    In order for it to be<br>
    economical we offer a<br>
    6-pack with free shipping.<br>
    We strongly honor our<br>
    100% Happiness<br>
    Guarantee so if you try<br>
    it and don't like it, email us<br>
    at hello@mokufoods.com<br>
    for an instant refund!
  </span>
</span>