{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 4/22/21 5:27PM
{% endcomment %}
<div class="Container mt-4 mb-4">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <div id="talkable-offer"></div>
      {% else %}
        {{ 'Log in' | customer_login_link }}
      {% endif %}
    {% endif %}
  </div>
</div>